<%= simple_form_for [cocktail, dose] do |f| %>
  <% if dose.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% dose.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.error_notification %>
  <%= f.association :ingredient %>
  <%= f.input :description %>
  <%= f.submit "add a dose", class: "btn btn-primary" %>
<% end %>
